*{
    padding: 0%;
    margin: 0%;
}
main{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.wholething{
    width: 500px;
    height: 500px;
    display: grid;
}
.jovan{
    width: 50px;
    height: 50px;
}